
#contact-me{
    margin-top: 5px;
    height: 60vh;
    background: rgb(221, 221, 221);

    /* for creating Parallax Effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    color: white;
}

.section-header h2{
    font-family: "Courgette", cursive;
    color: #0056a7;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 15px;
    display: block;
} 
.section-content{
    color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.contact-mode{
    margin-top: 5rem;
    font-size: 1.25rem;
    margin-left: 13vw;
    margin-right: auto;
}
.contact-mode p{
    text-align: center;
    margin-left: -50px;
    margin-top: 20px;
    padding: 10px;
}
.section-content > div > p{
    margin-left: -4rem;
}
 .section-content > div:nth-child(2) > p{
     margin-left: -45px;
 }
 .section-content > div:nth-child(3) > p{
    margin-left: -72px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.822);
    width: 100%;
    color: #eee;
    padding: 20px;
    height: 8vh;
}
.copyright{
    margin-left: 10vw;
}
footer  a{
    text-decoration: none;
    color: #f24971;
}
footer a:hover{
    color: #eee ;
}

.social-media{
    margin-top: 0;
    margin-left: 43vw;
  }
  .social-media a img{
    width: 40px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    opacity: 0.65;
  }
  .social-media a > img:hover{
   transform: scale(1.2); 
   opacity: 1;
  }



  
/****************************************************
      Writing Media Query to make it responsive
****************************************************/

@media (min-width: 320px) and (max-width:480px) {
    
#contact-me{
    margin-top: 5px;
    height: auto;
    background: rgb(221, 221, 221);
    
    color: white;
    text-align: center;
}

.section-header h2{
    font-family: "Courgette", cursive;
    color: #0056a7;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 15px;
    display: block;
} 


.section-content{
    margin-top: 30px;
    color: #000;
    display: block;
    text-align: center;
    
}
.contact-mode{
    display: block;
    margin-top: 3rem;
    font-size: 1.25rem;
    /*margin-left: 100px;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contact-mode p{
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 14px;
}
/*
.section-content > div > p{
    margin-left: -30px;
}
 .section-content > div:nth-child(2) > p{
    margin-left: -20px;
 }
 .section-content > div:nth-child(3) > p{
     margin-left: -50px;
}*/

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.822);
    width: 100%;
    color: #eee;
    padding: 20px;
    height: 12vh;
    text-align: center;
}
.copyright{
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}
footer  a{
    text-decoration: none;
    color: #f24971;
}
footer a:hover{
    color: #eee ;
}

.social-media{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .social-media a img{
    width: 40px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    opacity: 0.65;
  }
  .social-media a > img:hover{
   transform: scale(1.2); 
   opacity: 1;
  }
}