
#contact-me{
    margin-top: 5px;
    height: 60vh;
    background: rgb(221, 221, 221);

    /* for creating Parallax Effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    color: white;
}

.section-header h2{
    font-family: "Courgette", cursive;
    color: #0056a7;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 15px;
    display: block;
} 
.section-content{
    color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.contact-icons{
    margin-top: 5rem;
    font-size: 1.25rem;
    margin-left: 13vw;
    margin-right: auto;
}
.contact-icons p{
    text-align: center;
    margin-left: -50px;
}
.section-content > div > p{
    margin-left: -4rem;
}
 .section-content > div:nth-child(2) > p{
     margin-left: -45px;
 }
 .section-content > div:nth-child(3) > p{
    margin-left: -72px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.822);
    width: 100%;
    color: #eee;
    padding: 20px;
    height: 8vh;
}
.copyright{
    margin-left: 10vw;
}


